Source: lirrtraintime
Section: user/utilities
Priority: optional
Maintainer: teleshoes <elliot.wolk@gmail.com>
Standards-Version: 3.8.4

Package: lirrtraintime
Architecture: all
Depends: python-pyside, qtbigtext
Description: LIRR Train Time
  Simple LIRR Train Time QML app
